/* Full Height Page */
html, body {
	height: 100%;
}
.page-wrap {
	min-height: 100%;
	margin-bottom: -90px; 
	background: url('../img/genji-theatrical-standard.jpg') no-repeat center center fixed;
	background-size: cover;
}
.page-wrap:after {
	content: "";
	display: block;
}
footer, .page-wrap:after {
	height: 70px; 
}
footer.page-footer {
   /*margin-top:0px;*/
}
nav, footer.page-footer {
	background-color: rgba(40, 53, 79, 0.9);
  height: 70px; 
}

